#gameContainer {
    position: relative;
    width: 1200px;
    height: 600px;
    border: 1px solid black;
    overflow: hidden;
}

.button-containers {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

/* person facing right */

.person-walking-right {
    image-rendering: pixelated;
    background-image: url('../sprites/Walking.gif');
    background-size: 100px 100px;
    position: absolute;
    height: 100px;
    width: 100px;
}

.person-punch-right {
    image-rendering: pixelated;
    background-image: url('../sprites/Punching.gif');
    background-size: 100px 100px;
    position: absolute;
    height: 100px;
    width: 100px;
}

.person-bat-right {
    image-rendering: pixelated;
    background-image: url('../sprites/Bat.gif');
    background-size: 100px 100px;
    position: absolute;
    height: 100px;
    width: 100px;

}

/* person facing left */

.person-walking-left {
    image-rendering: pixelated;
    background-image: url('../sprites/Walking.gif');
    background-size: 100px 100px;
    position: absolute;
    height: 100px;
    width: 100px;
    transform: scaleX(-1);
}

.person-punch-left {
    image-rendering: pixelated;
    background-image: url('../sprites/Punching.gif');
    background-size: 100px 100px;
    position: absolute;
    height: 100px;
    width: 100px;
    transform: scaleX(-1);
}

.person-bat-left {
    image-rendering: pixelated;
    background-image: url('../sprites/Bat.gif');
    background-size: 100px 100px;
    position: absolute;
    height: 100px;
    width: 100px;
    transform: scaleX(-1);
}

/* Generic */

.health-bar {
    content: '';
    position: absolute;
    bottom: -110px;
    width: 100px;
    height: 5px;
    background-color: green;
    border: solid black 1px;
}
